@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;330&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@100&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
}
.row>* {
  padding: 0;
  margin: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
input, small, p {
  font-family: "Roboto Mono";
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #fff;
}
.container {
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

/* Homepage */
.col-md-4 h2 {
  font-size: 58px;
}
.col-md-4 img {
  margin-top: 25px;
  margin-bottom: 10px;
}
.col-md-4 {
  background-color: #4E6C50;
}
.col-md-4 p {
  font-family: "Bebas Neue";
  font-size: 18px;
  margin-bottom: 35px;
}
h2 {
  margin-bottom: 0px;
}
.login-form a {
  font-family: "Roboto Mono";
}
.login-form {
  padding: 10px;
  width: 330px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.login-form button {
  width: 310px;
}


/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
} 
.navbar-brand {
  width: 350px;
  overflow: auto;
}
.navbar-brand h1 {
  font-size: 32px;
  margin-left: 5px;
}
.collapse ul {
  width: 720px;
  margin-right: 0px;
  font-size: 20px;
}

/* My Profile Page */
.my-reviews h1 {
  font-size: 50px;
}

/* All Stops Page */
.stop-list h1 {
  margin-left: 15px;
  font-size: 50px;
}
.stop-preview h2 {
  font-size: 40px;
}

/* Create A Stop Page */
.create-stop-form {
  margin-left: 20px;
}
.create-stop-form input,  .create-stop-form select {
  width: 400px;
}
#create-stop-search {
  width: 400px;
}

/* Stop Details Page */
#createReviewFormControlInput {
  width: 450px;
}
#createReviewFormControlTextArea {
  height: 100px;
  width: 450px;
}


/* stop previews / list */
.stop-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.stop-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.stop-preview h2, .stop-page h2, .review-preview h2, .col-lg-7 h2{
  font-size: 40px;
  color: #181617;
  margin-bottom: 8px;
}
.stop-preview a {
  text-decoration: none;
}
.stop-preview p {
  font-family: "Roboto Mono";
}

/* Create Route Page */
.create-route-form .col {
  display: flex;
  justify-content: center;
}
.create-route-form input {
  width: 450px;
}

/* forms */
.CreateAccountForm, .create-stop-form {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
}
.CreateAccountForm label, .login-form label, .create-stop-form label, .create-review-form label {
  text-align: left;
  display: block;
}
.CreateAccountForm h2, .login-form h2, .create-stop-form h2, .create-route-form h2{
  font-size: 27px;
  color: #000000;
}
.CreateAccountForm input, .login-form input, .create-stop-form input, .create-stop-form select, .create textarea, .create select, .create-route-form input{
  /* width: 100%; */
  padding: 6px 10px;
  margin: 10px 0;
  border-radius: 3px;
  /* border: 1px solid #ddd; */
  box-sizing: border-box;
  display: block;
}
.CreateAccountForm button, .login-form button, .create-stop-form button, .create-review-form button, .create-route-form button, .stop-list button, button#getDirections {
  background: #9f814f;
  color: #fff;
  border: 0;
  padding: 6px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}
.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

#panel {
  width: 50%;
  height: 400px;
  text-align: left;
}