@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;330&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css');


/* base styles */
* {
  margin: 0;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
}
.row>* {
  padding: 0;
  margin: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
input, small, p {
  font-family: "Roboto Condensed";
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #fff;
}
.container {
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  font-size: 50px;
  margin-top: 20px;
  border-bottom: 2px solid #000000;
}


/* forms */
.create-account-form, .create-stop-form {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
}
.create-account-form label, .login-form label, .create-stop-form label, .create-review-form label {
  text-align: left;
  display: block;
}
.create-account-form h2, .login-form h2, .create-stop-form h2, .create-route-form h2{
  font-size: 27px;
  color: #000000;
}
.create-account-form input, .login-form input, .create-stop-form input, .create-stop-form select, .create textarea, .create select, .create-route-form input {
  padding: 6px 10px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create-account-form button, .login-form button, .create-stop-form button, .create-review-form button, .create-route-form button, .stop-list button, .create-route-page .btn {
  background: #9f814f;
  color: #fff;
  border: 0;
  padding: 6px;
  border-radius: 3px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}
.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}


/* Homepage */
.homepage.container {
  margin: 0;
  padding: 0;
  max-width: fit-content;
}
.bg-img {
  height: 100vh;
  width: 100vw;
}
.col-md-3 h2 {
  font-size: 58px;
}
.col-md-3 img {
  margin-top: 18px;
  margin-bottom: 2px;
  margin-right: 20px;
}
.homepage .col-md-3 {
  background-color: #4E6C50;
  position: relative;
  right: 130px;
}
.col-md-3 p {
  font-family: "Bebas Neue";
  font-size: 18px;
  margin-bottom: 50px;
}
h2 {
  margin-bottom: 0px;
}
.login-form a, small {
  /* font-family: "Roboto Mono"; */
  font-weight: 200;
  font-size: 13px;
}
.login-form {
  padding: 10px;
  width: 330px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.login-form button {
  width: 310px;
  margin-top: 25px;
  font-size: 20px;
}


/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #61764B;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
} 
.navbar-brand {
  width: 350px;
  overflow: auto;
  margin-left: 198px;
}
.navbar-brand h1 {
  font-size: 33px;
  margin-left: 5px;
  padding: 0px;
  border-bottom: none;
}
img.d-inline-block {
  background-color: #61764B;
}
.collapse ul {
  width: 652px;
  margin-right: 0px;
  font-size: 21px;
}
.navbar.container {
  max-width: 1450px;
}


/* Create Account Page */
.create-account-page input {
  width: 400px;
}
.create-account-page button {
  width: 400px;
  font-size: 22px;
}
.create-account-page h1 {
  margin-bottom: 1rem;
}
.create-account-page p {
  margin-bottom: 1rem;
}
.create-account-form small {
  font-weight: 200;
  font-size: 13px;
  position: relative;
  left: 25px;
  text-align: center;
}
.create-account-form a {
  font-weight: 200;
  font-size: 13px;
  position: relative;
  right: 6px;
}
a:hover {
  color: #181617;
  font-weight: 500;
}


/* My Profile Page */
.create-links {
  font-size: 30px;
}
.user-review-preview {
  color: #181617;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.user-review-preview:hover {
  box-shadow: 4px 6px 8px rgba(0,0,0,0.1);
}


/* All Stops Page */
.stop-preview h2 {
  font-size: 40px;
}


/* Create A Stop Page */
.create-stop-form {
  margin-right: 36px;
  position: relative;;
  bottom: 38px;
}
.create-stop-page h1 {
  margin-top: 8px;
}
.create-stop-form input,  .create-stop-form select {
  width: 400px;
}
.create-stop-form button {
  width: 400px;
  font-size: 20px;
  margin-top: 20px;
}
.create-stop-form label {
  font-size: 20px;
}
#create-stop-search {
  width: 530px;
  margin-bottom: 15px;
  padding: 6px 10px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  
}


/* Stop Details Page */
#createReviewFormControlInput {
  width: 450px;
}
#createReviewFormControlTextArea {
  height: 100px;
  width: 450px;
}
.create-review-form label {
  font-size: 22px;
}
.create-review-form button {
  width: 450px;
  font-size: 22px;
}
.stop-details-page-content h1 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 1rem;
  border-bottom: 2px solid #000000;
}
.stop-info p {
  margin-bottom: 1rem;
}
.stop-details-page-content {
  overflow: scroll !important;
}


/* Create Route Page */
.create-route-form .col {
  display: flex;
  justify-content: center;
}
.create-route-page h1 {
  margin-top: 8px;
}
.create-route-page label {
  font-size: 22px;
  margin-top: 0.5rem;
}
.create-route-form input {
  width: 470px;
  margin-bottom: 1rem;
}
.create-route-form button {
  width: 485px;
  font-size: 20px;
  margin-top: 0px !important;
  margin-bottom: 2.5rem !important;
}
.modal.fade .modal-dialog {
  border-radius: var(--bs-modal-border-radius);
  transform: none;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}
.modal {
  --bs-modal-margin: var(--bs-modal-margin-2.8rem);
}
button.get-directions {
  width: 500px;
  font-size: 20px !important;
}
button.infowindow {
  font-size: 14px;
  background: #9f814f;
  color: #fff;
  border: 0;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
}


/* stop previews / list */
.stop-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.stop-preview:hover {
  box-shadow: 8px 8px 10px rgba(0,0,0,0.1);
}
.stop-preview h2, .stop-page h2, .review-preview h2, .col-lg-7 h2{
  font-size: 40px;
  color: #181617;
  margin-bottom: 8px;
}
.stop-preview a {
  text-decoration: none;
}


/* Accordion */
body {
  background-color: #f9f9fa
}
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}
@media (max-width:991.98px) {
  .padding {
      padding: 1.5rem
  }
}
@media (max-width:767.98px) {
  .padding {
      padding: 1rem
  }
}
.card {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 0
}
.card .card-title {
  color: var(--bs-accordion-btn-color);
  font-size: 32px;
  font-weight: 500
}
.card {
  margin-bottom: .875rem;
  font-weight: 400;
  color: #76838f
}
.accordion .card {
 margin-bottom: .75rem;
 box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
 border-radius: .25rem;
 border: none;
}
.accordion .card .card-header {
 background-color: transparent;
 border: none;
}
.card-header:first-child {
 border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.accordion .card .card-header * {
 font-weight: 400;
 font-size: 1rem;
}
.mb-0 {
 margin-bottom: 0 !important;
}
.accordion .card .card-header a {
 display: block;
 color: inherit;
 text-decoration: none;
 font-size: inherit;
 position: relative;
 -webkit-transition: color 0.5s ease;
 -moz-transition: color 0.5s ease;
 -ms-transition: color 0.5s ease;
 -o-transition: color 0.5s ease;
 transition: color 0.5s ease;
 padding-right: 1.5rem;
}
.accordion .card .card-header * {
 font-weight: 400;
 font-size: 1.4rem;
}
.accordion .card .card-header button[aria-expanded="false"]:before {
 content: "\f067";
 margin-top: 20px;
}
.accordion .card .card-header button[aria-expanded="true"]:before {
  content: "\f068";
  margin-top: 20px;
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
}
.accordion-button::after {
  background-image: none;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-btn-color);
  background-color: white;
}
.accordion .card .card-header button:before {
  position: absolute; 
  right: 7px;
  top: 0;
  font-size: 18px;
  display: block;
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 3px;
  font-size: .756em;
  /* color: #405189; */
  background-color: none;
}
.padding .row.d-flex {
  max-width: 95%;
} 


/* Tabs */
section.py-5 {
  padding-top: 1.5rem !important;
}
.nav-pills-custom .nav-link {
  color: #181617;
  background: #fff;
  position: relative;
  font-size: 20px;
}
.nav-pills-custom .nav-link.active {
  color: #181617;
  background: #fff;
}
/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #61764B;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}
.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}
.tab-content>.active {
  display: flex;
}
.tab-content>.tab-pane {
  max-width: 95%;
}
.tab-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-pills .nav-link.active {
  background-color: #61764B;
}








