@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;330&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Bebas Neue";
  color: rgb(0, 0, 0);
}
.row>* {
  padding: 0;
  margin: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
input, small, p {
  font-family: "Raleway";
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #fff;
}
.container {
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  font-size: 50px;
  margin-top: 20px;
  border-bottom: 2px solid #000000;
}

/* forms */
.CreateAccountForm, .create-stop-form {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
}
.CreateAccountForm label, .login-form label, .create-stop-form label, .create-review-form label {
  text-align: left;
  display: block;
}
.CreateAccountForm h2, .login-form h2, .create-stop-form h2, .create-route-form h2{
  font-size: 27px;
  color: #000000;
}
.CreateAccountForm input, .login-form input, .create-stop-form input, .create-stop-form select, .create textarea, .create select, .create-route-form input {
  /* width: 100%; */
  padding: 6px 10px;
  margin: 10px 0;
  border-radius: 3px;
  /* border: 1px solid #ddd; */
  box-sizing: border-box;
  display: block;
}
.CreateAccountForm button, .login-form button, .create-stop-form button, .create-review-form button, .create-route-form button, .stop-list button, .create-route-page .btn {
  background: #9f814f;
  color: #fff;
  border: 0;
  padding: 6px;
  border-radius: 3px;
  /* margin-top: 10px; */
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}
.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

/* Homepage */
.homepage.container {
  margin: 0;
  padding: 0;
  max-width: fit-content;
}
.bg-img {
  height: 100vh;
  width: 100vw;
}
.col-md-3 h2 {
  font-size: 58px;
}
.col-md-3 img {
  margin-top: 18px;
  margin-bottom: 2px;
  margin-right: 20px;
}
.homepage .col-md-3 {
  background-color: #4E6C50;
  position: relative;
  right: 130px;
}
.col-md-3 p {
  font-family: "Bebas Neue";
  font-size: 18px;
  margin-bottom: 50px;
}
h2 {
  margin-bottom: 0px;
}
.login-form a, small {
  font-family: "Roboto Mono";
  font-weight: 200;
  font-size: 13px;
}
.login-form {
  padding: 10px;
  width: 330px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.login-form button {
  width: 310px;
  margin-top: 25px;
  font-size: 20px;
}


/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #61764B;
} 
.navbar-brand {
  width: 350px;
  overflow: auto;
  /* margin-left: 145px; */
  margin-left: 190px;
}
.navbar-brand h1 {
  font-size: 33px;
  margin-left: 5px;
  padding: 0px;
  border-bottom: none;
}
img.d-inline-block {
  /* background-color: #fff; */
  background-color: #61764B;
}
.collapse ul {
  /* width: 790px; */
  width: 700px;
  margin-right: 0px;
  font-size: 21px;
}
.navbar.container {
  max-width: 1450px;
}

/* My Profile Page */
.create-links {
  font-size: 30px;
}
/* .nav-tabs {
  --bs-nav-tabs-link-active-color: var(--bs-nav-tabs-link-active-color-#000) !important;
} */

/* All Stops Page */
.stop-preview h2 {
  font-size: 40px;
}


/* Create A Stop Page */
.create-stop-form {
  margin-right: 36px;
  position: relative;;
  bottom: 38px;
}
.create-stop-page h1 {
  margin-top: 8px;
}
.create-stop-form input,  .create-stop-form select {
  width: 400px;
}
.create-stop-form button {
  width: 400px;
  font-size: 20px;
  margin-top: 20px;
}
.create-stop-form label {
  font-size: 20px;
}
#create-stop-search {
  width: 530px;
  margin-bottom: 15px;
  padding: 6px 10px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  
}

/* Stop Details Page */
#createReviewFormControlInput {
  width: 450px;
}
#createReviewFormControlTextArea {
  height: 100px;
  width: 450px;
}
.create-review-form label {
  font-size: 22px;
}
.create-review-form button {
  width: 450px;
  font-size: 22px;
}
.stop-details-page-content h1 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 1rem;
  border-bottom: 2px solid #000000;
}
.stop-info p {
  margin-bottom: 1rem;
}
/* .stop-details-page-content .col-md-6 h2 {
  border-bottom: 2px solid #000000;
} */
.stop-details-page-content {
  overflow: scroll !important;
}

/* Create Route Page */
.create-route-form .col {
  display: flex;
  justify-content: center;
}
.create-route-form input {
  width: 450px;
}
.modal.fade .modal-dialog {
  border-radius: var(--bs-modal-border-radius);
  transform: none;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}
.modal {
  --bs-modal-margin: var(--bs-modal-margin-2.8rem);
}

/* stop previews / list */
.stop-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.stop-preview:hover {
  box-shadow: 4px 6px 8px rgba(0,0,0,0.1);
}
.stop-preview h2, .stop-page h2, .review-preview h2, .col-lg-7 h2{
  font-size: 40px;
  color: #181617;
  margin-bottom: 8px;
}
.stop-preview a {
  text-decoration: none;
}
.stop-preview p {
  font-family: "Raleway";
}





